
/*  //page layout //*/

body{
  background-color: #2A2A2A;
  margin-top: 30px;
}


/*//Primary navigation on left of every page//*/
li{
  list-style: none;
}

.navbar-nav>li{
  float:none;
}

.navbar-toggle .icon-bar{
  background-color:white;
}


/*  catherine byun logo
*/
.catherine, .catherine1{
  font-family: 'Lato', sans-serif;
  text-align: right;
  color: #ff0095;
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 100;
  letter-spacing:4.5px;
  float:none;
}

.catherine1{
  margin-top: 110px;
  margin-bottom: 5px;
}

.title2{
  display:none;
  float:left;
  color: #ff0095;
  font-size: 24px;
  font-weight: 100;
  letter-spacing:4.5px;
  font-family: 'Lato', sans-serif;
}

/* page navigation*/

.illustration, .rendering, .sketches{
 margin-bottom: 20px;
}

.illustration, .rendering, .sketches, .blog{
 font-family: 'Lato', sans-serif;
 text-align: right;
 color: white;
 font-size: 13px;
 letter-spacing:7px;
}

.info{
  margin-top: 50px;
  font-size: 14px;
  color:gray;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: right;
  letter-spacing: 5px;
}

.icons{
  text-align: right;
  margin-top: 20px;
  font-size: 17px;
}

.socialmedia-icons{
display: inline-block;
text-align: right;
letter-spacing:5px;

}

/*social media icon color */

.fa-pinterest, .fa-facebook, .fa-instagram, .fa-tumblr{
color:gray;
}

/*social media icon color with hover*/

.fa-pinterest:hover, .fa-facebook:hover, .fa-instagram:hover, .fa-tumblr:hover {
color:#59D6D6;
}


/*//hover formatting for nav bar//*/


#illustration li.illustration{
  color:#59D6D6;
}

#rendering li.rendering{
  color:#59D6D6;
}

#sketches li.sketches{
  color:#59D6D6;
}

#info li.info{
  color:#59D6D6;
}

a li.blog:hover {
  color:#59D6D6;
}

a li.rendering:hover {
  color:#59D6D6;
}

a li.sketches:hover {
  color:#59D6D6;
}

a li.info:hover {
  color:#59D6D6;
}

a li.illustration:hover {
  color:#59D6D6;
}


a.link{
  text-decoration: none;
}

a.title2-link{
  text-decoration: none;
  color: #ff0095;
}

a.title1-link{
  text-decoration: none;
  color: #ff0095;
}


/*//end primary navigation//*/


/*--- INDEX AND PHOTO PAGES ---*/


/*//This is the separater line above the redundant gallery//*/

.line-separater{
  border-top:  solid 2px gray;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

/*.rectangular-image{
 width:60%;
 min-height:100px;
 vertical-align: center;
}
*/

/*//large photos //*/
.Autumn{
  width: 100%;
  margin-bottom: 30px;
}

.Autumn2{
  width: 100%;
  margin-bottom: 10px;
}



/*// photo information, upper right hand side// */

.photo-info{
  color:#989898;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
}

.title{
  margin-top: -10px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size:16px;
  font-family: 'Lato', sans-serif;
  text-align: left;
  color: white;
  letter-spacing:4.5px;
}

.client, .art-director{
  color:#B3B3B3;
  font-size: 14px;
  font-weight: 500;
}

.client-info, .basic-info{
  margin-bottom: 15px;
}

.art-director-info{
  margin-bottom: 45px;
}

/*//this is the separater line below the photo info //*/
.line{
  border-top:  solid 1px gray;
}

/*//this photo info for the second image//*/

.photo2-info{
  color:red;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  color:#989898;
  display:inline-block;
}

/*//navigation buttons: prev, next and back to index //*/

/*font class for nav buttons*/

@font-face {
  font-family: "Glyphicons Halflings";
  src:
   url("glyphicons/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
   url("glyphicons/glyphicons-halflings-regular.woff2") format("woff2"),
   url("glyphicons/glyphicons-halflings-regular.woff") format("woff"),
   url("glyphicons/glyphicons-halflings-regular.ttf") format("truetype"),
   url("glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.nav-buttons{
padding-left: 10px;
}

.next-button{
 font-size:18px;
 display: inline-block;
 color: white;
 margin-bottom: 10px;
 padding-left: 0px;
 padding-right: 0px;
 margin-top: -8px;
}

.previous-button{
 font-size:18px;
 display: inline-block;
 color: white;
 margin-bottom: 10px;
 padding-left: 0px;
 padding-right: 0px;
 margin-top: -8px;


}

.index-button{
 font-size:18px;
 display: inline-block;
 color: white;
 margin-bottom: 10px;
 padding-left: 0px;
 padding-right: 0px;
 margin-top: -8px;
}


.glyphicon{
  top:0px;
}



/*// redundant gallery images  // */

.thumbnail{
  padding:none;
  border:none;
  border-radius: none;
  background-color: transparent;
  text-decoration: none;
}

/*opacity for all images with links */
.img-responsive:hover{
  opacity: .6;
}



/*// caption hover for illustration, rendering and sketch images  // */

.caption-hidden{
  display:none;
  color:red;
}


.portrait:hover > p{
 margin-top:25%; /*portrait images hover */
 z-index: 1000;
 width:95%;
 line-height: 100%;
 text-align:center;
 color:white;
 display:inline;
 font-family: 'Lato', sans-serif;
 font-weight: 200;
 font-size: 18px;
 letter-spacing: 1px;
}

.caption:hover > p{
 margin-top:50%; /*portrait images hover */
 z-index: 1000;
 width:95%;
 line-height: 100%;
 text-align:center;
 color:white;
 display:inline;
 font-family: 'Lato', sans-serif;
 font-weight: 200;
 font-size: 18px;
 letter-spacing: 1px;
}


.thumb > p {
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width:95%;
  line-height: 100%;
  margin-top:20%;
  text-align:center;
}



/* ---- INFO PAGE ---- */

/*Photo of Cat */

.cat-img{
  size:100%;
}

/*top paragraphs */

.info-page-hello {
  color:#D6D6D6;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 4px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px;
  margin-top: -5px;
}

.info-page-text{
  color:#989898;
  font-size: 13px;
  margin-bottom: 15.2px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
}

.info-page-para-2{
  color:#989898;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
}


/*Client info */

.clients-title {
  margin-top: 30px;
  color:#D6D6D6;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
}

.clients-content {
 margin-top: 10px;
 color:#989898;
 font-size: 15px;
 margin-right: 20px;
 font-weight: 400;
 letter-spacing: 2px;
 line-height:1.75em;
 font-family: 'Lato', sans-serif;
}

.clients {
  padding-left: 0px;
}

/* form inputs */

.drop-me-a-line {
  margin-top: 30px;
  color:#D6D6D6;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height:1.75em;
  font-family: 'Lato', sans-serif;
}

.first-name{
  margin-right:5px;
}

.first-name, .last-name {
  margin-top: 10px;
  display:inline-block;
  width: 49%;
}

.email   {
  margin-top:20px;
  margin-bottom: 50px;
}

.message{
  margin-bottom: 50px;
  padding-bottom: -30px;
}

.form-control{
  border-radius:0px;
  background-color:#2A2A2A;
  color:#989898;
  border-top: none;
  border-right:none;
  border-left:none;
  border-bottom: 1px solid #ccc;
  padding:0px;
  font-family: 'Lato', sans-serif;
  -webkit-box-shadow:none;
}

.submit{
  font-family: 'Lato', sans-serif;
  text-shadow:none;
  color:#555555;
  border-radius:1px;
}

.mailchimp-text{
font-size: 10px;
font-weight: 400;
letter-spacing: 1px;
line-height:1.75em;
font-family: 'Lato', sans-serif;
color:#989898;
}




/*MEDIA QUERIES*/

/*All pages -> tablet */

@media(max-width:991px)  {

  /*navigation collapse and toggle*/
  .navbar-collapse.collapse {
    display:none !important;
  }
  .navbar-collapse {
    overflow-x: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: auto !important;
  }
  .collapse.in {
    display: block !important;
  }
}

@media(min-width: 991px) {
  .navbar-toggle {
    display: none;
  }
}

/*individual photo page ->  tablet */

@media screen and (min-width: 600px) and (max-width: 991px){

  /*main photo size*/

  .Autumn{
    width: 100%;
  }

  /*secondary photo size*/
  .Autumn2{
    width:70%;
  }
}

/*all pages ->  tablet*/
@media screen and (max-width: 991px){

  /*catherine byun tablet logo is displayed */
  .title2{
    display:inline;
  }

  /*catherine byun desktop logo is hidden */
  .catherine, .catherine1{
    display:none;
  }

  /*all pages -> index button tablet*/

  .index-button{
    text-align: center;
    color: white;
  }

  /*form and client divs */
  .clients, .form {
    padding-left: 0px;
  }
}


/*All pages -> tablet */
@media screen and (min-width: 991px){

 /* navbar fixed */
 .navbar{
  position:fixed;
}
}

/*All pages -> small screen & tablet */
@media screen and (min-width: 404px) and (max-width: 991px){

  /*toggle dropdown positioning */
  .navbar-collapse{
    margin-top: 60px;
    margin-right: 50px;
  }
}

/*All pages -> small screen */
@media screen and (min-width: 350px) and (max-width: 750px){

  /*increase photo width*/
  .Autumn2{
    width:100%;
    }}



